<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Innovators</title>
    <link rel="stylesheet" href="../static/css/stylesInicio.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Registro de transaccion</a>
            <a href="#">Balance de Comprobación</a>
            <a href="#">Mano de obra</a>
            <a href="#">Estado de Resultado</a>
            <a href="#">Catalogo de cuentas</a>
            <a href="#">Cierre contable</a>
        </nav>
    </header>
    <main>
        <h1>TECH INNOVATORS</h1>
        <img src="../static/assets/LOGO.png" alt="Tech Innovators" class="main-image">
    </main>
</body>
</html>
