<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Innovators</title>
    <link rel="stylesheet" href="../static/css/stylesInicio.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href="prueba/">Home</a>
                <a href="transaccion">Registro de transaccion</a>
                <a href="#">Balance de Comprobación</a>
                <a href="manoObra">Mano de obra</a>
                <a href="estados">Estado de Resultado</a>
                <a href="#">Catalogo de cuentas</a>
                <a href="#">Cierre contable</a>
            </div>
            <a href="index/" class="logout-button" title="Cerrar sesión">
                <img src="../static/assets/salida.png" alt="Cerrar sesión">
            </a>
        </nav>
    </header>
    <main>
        <h1>TECH INNOVATORS</h1>
        <img src="../static/assets/LOGO.png" alt="Tech Innovators" class="main-image">
    </main>
</body>
</html>
