<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mano de Obra</title>
    <link rel="stylesheet" href="../static/css/stylesManoObra.css">
</head>
<body>

<header>
    <nav>
        <div class="nav-links">
            <a href="prueba/">Home</a>
            <a href="transaccion/">Registro de transacción</a>
            <a href="#">Balance de Comprobación</a>
            <a href="#">Mano de obra</a>
            <a href="#">Estado de Resultado</a>
            <a href="#">Catálogo de cuentas</a>
            <a href="#">Cierre contable</a>
        </div>
        <a href="index/" class="logout-button" title="Cerrar sesión">
            <img src="../static/assets/salida.png" alt="Cerrar sesión">
        </a>
    </nav>
</header>

<main>
    <h1>Mano de Obra</h1>
    <form class="input-form">
        <label for="nombre">Nombre del empleado:</label>
        <input type="text" id="nombre" name="nombre">

        <label for="puesto">Puesto:</label>
        <input type="text" id="puesto" name="puesto">

        <label for="salario">Salario:</label>
        <input type="text" id="salario" name="salario">

        <button type="submit">Guardar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Puesto</th>
                <th>Pago Diario</th>
                <th>Septimo</th>
                <th>Vacaciones</th>
                <th>Aguinaldo</th>
                <th>ISSS</th>
                <th>AFP</th>
                <th>INCAF</th>
                <th>Costo Real</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">Totales</td>
                <td>$</td>
            </tr>
        </tfoot>
    </table>
</main>

</body>
</html>
