<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Contenido</title>
    <link rel="stylesheet" href="../static/css/pantalla_comprobacion.css">
</head>
<body>

    <div class="table-container">
        <h2>Balance de Comprobación</h2>
        <table>
            <thead>
                <tr>
                    <th>Código de Cuenta</th>
                    <th>Nombre de Cuenta</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h2>Libro Mayor</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>IVA</th>
                    <th>Cuenta de Cargo</th>
                    <th>Cuenta Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>

</body>
</html>
