<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Contenido</title>
    <link rel="stylesheet" href="../static/css/pantalla_comprobacion.css">
</head>
<body>

    <div class="table-container">
        <h2>Estado de resultado</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>cuenta</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>
    <center>
    <div class="saldo-container">
        <label for="saldo" class="label">Utilidad o Pérdida:</label>
        <input type="text" id="saldo" class="saldo"  disabled>
    </div>
    </center>   

    <div class="table-container">
        <h2>Estado de capital</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>cuenta</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>

    <center>
        <div class="saldo-container">
            <label for="saldo" class="label">Nuevo capital:</label>
            <input type="text" id="saldo" class="saldo"  disabled>
        </div>
        </center>

</body>
</html>
