<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Contenido</title>
    <link rel="stylesheet" href="../static/css/pantalla_comprobacion.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href="prueba/">Home</a>
                <a href="transaccion">Registro de transaccion</a>
                <a href="comprobaciones">Balance de Comprobación</a>
                <a href="manoObra">Mano de obra</a>
                <a href="estados">Estado de Resultado</a>
                <a href="catalogo">Catalogo de cuentas</a>
                <a href="#">Cierre contable</a>
            </div>
            <a href="index" class="logout-button" title="Cerrar sesión">
                <img src="../static/assets/salida.png" alt="Cerrar sesión">
            </a>
        </nav>
    </header>
    

    <div class="table-container">
        <h2>Catalogo de cuentas</h2>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Cuenta</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>

    <center><button class="botton">agregar cuenta</button></center>

</body>
</html>
