<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Contenido</title>
    <link rel="stylesheet" href="../static/css/pantalla_comprobacion.css">
</head>
<body>



    <div class="estado-de-resultados">
        <h2>Estado de resultados</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>
    <div class="output">   
        <h2>Utilidad o perdida</h2>
        <center> <input size="25" name="utilidad_perdida" placeholder="Esta sera la utilidad o perdida" disabled> </center>
    </div>      

    <div class="estado-de-capital">
        <h2>Estado de capital</h2>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Cuenta</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos aquí -->
            </tbody>
        </table>
    </div>
    <div class="output">   
        <h2>Nuevo capital</h2>
        <center> <input size="20" name="nuevo-capital" placeholder="Este sera el nuevo capital" disabled> </center>
    </div>

</body>
</html>
