<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Transacción</title>
    <link rel="stylesheet" href="../static/css/stylesTransaccion.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <a href="prueba/">Home</a>
                <a href="transaccion/">Registro de transaccion</a>
                <a href="#">Balance de Comprobación</a>
                <a href="#">Mano de obra</a>
                <a href="#">Estado de Resultado</a>
                <a href="#">Catálogo de cuentas</a>
                <a href="#">Cierre contable</a>
            </div>
            <a href="index/" class="logout-button" title="Cerrar sesión">
                <img src="../static/assets/salida.png" alt="Cerrar sesión">
            </a>
        </nav>
    </header>
    
    <div class="container">
        <main>
            <h1>Registro de Transacción</h1>
            <form>
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion"></textarea>
                </div>
                <div class="form-group">
                    <label for="monto">Monto:</label>
                    <input type="number" id="monto" name="monto" min = "0">
                </div>
                <div class="form-group">
                    <label for="iva">IVA:</label>
                    <select id="iva" name="iva">
                        <option value="credito">Crédito</option>
                        <option value="debito">Débito</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <select id="cargo" name="cargo">
                        <option value="activos">Activos</option>
                        <option value="pasivos">Pasivos</option>
                        <option value="capital">Capital</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="abono">Abono:</label>
                    <select id="abono" name="abono">
                        <option value="activos">Activos</option>
                        <option value="pasivos">Pasivos</option>
                        <option value="capital">Capital</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit">Registrar</button>
                    <button type="reset">Cancelar</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
