{% extends "base.html" %}

{% block content %}
<h1>Catálogo de Cuentas</h1>

<link rel="stylesheet" href="../static/css/catalogo.css">
    <!-- Campo de búsqueda -->
    <form method="get" action="{% url 'catalogo_de_cuenta' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar por nombre" value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>



<table>
    <thead>
        <tr>
            <th>Código de la Cuenta</th>
            <th>Nombre de la Cuenta</th>
            <th>Categoría</th>
            <th>Sub-Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas %}
        <tr>
            <td>{{ cuenta.codigo_cuenta }}</td>
            <td>{{ cuenta.nombre }}</td>
            <td>{{ cuenta.categoria }}</td>
            <td>{{ cuenta.subcategoria }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay cuentas contables registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
