{% extends "base.html" %}

{% block content %}
<h1>Estado de Capital</h1>

<p>Cada estado de capital se generará luego del cierre contable.</p>

<form method="get" action=".">
    <label for="estado_capital">Selecciona un Estado de Capital:</label>
    <select name="estado_capital" id="estado_capital" onchange="this.form.submit()">
        <option value="">-- Seleccione --</option>
        {% for informe in estado_capital %}
            <option value="{{ informe.id_estado_capital }}"

                {% if informe.id_estado_capital == request.GET.estado_de_capital|default_if_none:'' %}selected{% endif %}

                {{ informe.fecha }}
            </option>
        {% endfor %}
    </select>
</form>

{% if patrimonio %}
<!-- ACTIVOS -->
<h2>Patrimonio Final ${{patrimonio.saldo}}</h2> 

    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre de Cuenta</th>
                <th>Saldo Deudor</th>
                <th>Saldo Acreedor</th>
            </tr>
        </thead>
        <tbody>
            {% for cuenta in cuentas_patrimonio %}
            <tr>
                <td>{{ cuenta.codigo_cuenta }}</td>
                <td>{{ cuenta.nombre }}</td>
                <td>{{ cuenta.saldo_deudor|floatformat:2 }}</td>
                <td>{{ cuenta.saldo_acreedor|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Por favor seleccione un estado de capital.</p>
{% endif %}

{% endblock %}