{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/styleLogin.css">
</head>
<div class="login-container">
    <div class="login-box">
        <div class="icon-container">
            <img src="../static/assets/LogoTech.jpeg" alt="User Icon" class="logo-icon">
        </div>
        <h2>INICIAR SESIÓN</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="input-container">
                <label for="{{ form.username.id_for_label }}" class="label-username">Usuario</label>
                <div class="field-wrapper">
                    {{ form.username }}
                    <img src="../static/assets/user.png" alt="User Icon" class="user-icon">
                </div>
            </div>
            
            <div class="input-container">
                <label for="{{ form.password.id_for_label }}" class="label-password">Contraseña</label>
                <div class="field-wrapper">
                    {{ form.password }}
                    <img src="../static/assets/lock.png" alt="Lock Icon" class="lock-icon">
                    <span class="toggle-password">
                        <img src="../static/assets/eye.png" alt="Show Password" id="togglePassword" class="eye-icon">
                    </span>
                </div>
            </div>

            <button type="submit" class="login-button">Login</button>

            {% if error %}
            <div class="error-container" id="error-container">
                <p style="color: red;"><strong>{{ error }}</strong></p>
            </div>
            {% endif %}
        </form>
    </div>
</div>

<script src= "../static/js/Login.js"></script>
{% endblock %}
